<div class="sidebar">

  <div class="nav-content">


    <p class="nav-label">OVERVIEW</p>
    <ul class="nav-list">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <span class="icon">📊</span>
          <span class="text">Dashboard</span>
        </a>
      </li>
    </ul>

    <!-- <p class="nav-label">MANAGEMENT</p>
    <ul class="nav-list">
      <li>
        <a routerLink="/admin/players" routerLinkActive="active">
          <span class="icon">🏃</span>
          <span class="text">Point</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/teams" routerLinkActive="active">
          <span class="icon">🛡️</span>
          <span class="text">Teams</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/auction" routerLinkActive="active">
          <span class="icon">🔨</span>
          <span class="text">Auction Control</span>
        </a>
      </li>
    </ul> -->
    <!-- <p class="nav-label">MANAGEMENT</p>
    <ul class="nav-list">
      <li>
        <a routerLink="/admin/players" routerLinkActive="active">
          <span class="icon">🏅</span>
          <span class="text">Point</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/teams" routerLinkActive="active">
          <span class="icon">🛡️</span>
          <span class="text">Teams</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/auction" routerLinkActive="active">
          <span class="icon">🔨</span>
          <span class="text">Auction Control</span>
        </a>
      </li>
    </ul> -->
    <p class="nav-label">ALL PLAYER</p>
    <ul class="nav-list">
      <li>
        <a routerLink="/players" routerLinkActive="active">
          <span class="icon">🏏</span>
          <span class="text">All Player</span>
        </a>
      </li>
      <li>
        <a routerLink="/acce-players" routerLinkActive="active">
          <span class="icon">✅</span>
          <span class="text">Accepted Player</span>
        </a>
      </li>
    </ul>
    <ng-container *ngIf="roll == '1'">



      <p class="nav-label">ORGANISER</p>
      <ul class="nav-list">

        <li>
          <a routerLink="/teams" routerLinkActive="active">
            <span class="icon">🛡️</span>
            <span class="text">Teams</span>
          </a>
        </li>

        <li>
          <a routerLink="/give-points" routerLinkActive="active">
            <span class="icon">⭐</span>
            <span class="text">Give Points</span>
          </a>
        </li>

        <li>
          <a routerLink="/select-player" routerLinkActive="active">
            <span class="icon">👤</span>
            <span class="text">Select Player for Auction</span>
          </a>
        </li>

      </ul>
    </ng-container>
    <ng-container *ngIf="roll == '2'">
      <p class="nav-label">Team</p>
      <ul class="nav-list">

        <li>
          <a routerLink="/mypoint" routerLinkActive="active">
            <span class="icon">🛡️</span>
            <span class="text">My Point</span>
          </a>
        </li>

        <li>
          <a routerLink="/myteam" routerLinkActive="active">
            <span class="icon">⭐</span>
            <span class="text">My Player</span>
          </a>
        </li>

        <li>
          <a routerLink="/make11" routerLinkActive="active">
            <span class="icon">⭐</span>
            <span class="text">Make Playing 11</span>
          </a>
        </li>


      </ul>
    </ng-container>


    <!-- <p class="nav-label">SYSTEM</p>
    <ul class="nav-list">
      <li>
        <a routerLink="/admin/settings" routerLinkActive="active">
          <span class="icon">⚙️</span>
          <span class="text">Settings</span>
        </a>
      </li>
    </ul> -->

  </div>

  <div class="sidebar-footer">
    <small>v1.0.0 Alpha</small>
  </div>

</div>