.main-content-wrapper {
  display: flex; /* Puts Sidebar and Content side-by-side */
  min-height: calc(100vh - 60px - 40px); /* Adjust based on Header/Footer height */
}

.content-area {
  flex-grow: 1; /* Takes up remaining width */
  padding: 20px;
  background-color: #f4f6f7;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900; /* Behind sidebar (999), but above content */
  backdrop-filter: blur(2px);
}
.a{
  height: 100vh;
}
