<!-- ORGANISER SECTION -->
<div class="section">
  <h3 class="title">Organisers</h3>

  <div class="card-grid">
    <div class="card organiser-card">
      <img src="../../../assets/img/tukubhai.jpg" class="avatar">
      <h4 class="name">Pradeep Pati</h4>
      <p class="role">(Tuku Sir)</p>
      <p class="phone">📞 <a href="tel:+918118081551" class="call-link">8118081551</a>
      </p>
    </div>


    <div class="card organiser-card">
      <img src="../../../assets/img/pintu.jpg" class="avatar">
      <h4 class="name">Chita Chandan Chinmay Ranjan Pati</h4>
      <p class="role">(Pintu)</p>
      <p class="phone">📞 <a href="tel:+916370190172" class="call-link">6370190172</a></p>
    </div>

    <div class="card organiser-card">
      <img src="../../../assets/img/deepak.jpg" class="avatar">
      <h4 class="name">Deepak Majhi</h4>
      <p class="role">(Dipak)</p>
      <p class="phone">📞 <a href="tel:+918118081551" class="call-link">8118081551</a></p>
    </div>
  </div>
</div>

<!-- TEAM SECTION -->
<div class="section" *ngIf="teams.length > 0">
  <h3 class="title">Teams</h3>

  <div class="card-grid">
    <div *ngFor="let t of teams" class="card team-card">
      <img [src]="path+'logo/'+t.logo" class="team-logo">
      <h4 class="team-name">{{ t.team_name }}</h4>

      <div class="owner">
        <img [src]="path+'owner/'+t.woner_image" class="owner-avatar">
        <span class="owner-name">{{ t.woner_name }}</span>
      </div>
    </div>
  </div>
</div>

<!-- FIXTURE SECTION -->
<!-- <div class="section">
  <h3 class="title">Fixtures</h3>

  <div class="card-grid">
    <div class="card fixture-card">
      <h4 class="vs-title">Red Lions <span>VS</span> Blue Hawks</h4>
      <p>📅 25 Dec 2025</p>
      <p>⏰ 4:00 PM</p>
    </div>

    <div class="card fixture-card">
      <h4 class="vs-title">Thunder Warriors <span>VS</span> Royal Tigers</h4>
      <p>📅 26 Dec 2025</p>
      <p>⏰ 3:00 PM</p>
    </div>
  </div>
</div> -->
