<div class="modal-backdrop" (click)="close()"></div>

<div class="modal-box">

  <div class="modal-header">
    <h3>Edit Player</h3>
    <span class="close-btn" (click)="close()">×</span>
  </div>

  <form (ngSubmit)="submit()" #f="ngForm">

    <!-- Photo -->
    <div class="photo-section">
      <img [src]="preview || imageUrl + player.photo" />
      <label class="upload-btn">
        Change Photo
        <input type="file" accept="image/*" (change)="onFileChange($event)" hidden />
      </label>
    </div>

    <!-- Name -->
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="player.name" name="name" required />
    </div>

    <!-- Mobile & Age (GRID FIX) -->
    <div class="form-row">
      <div class="form-group">
        <label>Mobile No</label>
        <input type="text" [(ngModel)]="player.mobile_no" name="mobile" required />
      </div>

      <div class="form-group">
        <label>Age</label>
        <input type="number" [(ngModel)]="player.age" name="age" required />
      </div>
    </div>

    <!-- Base Price & Role -->
    <div class="form-row">
      <div class="form-group">
        <label>Base Price</label>
        <input type="number" [(ngModel)]="player.base_price" name="base_price" />
      </div>

      <div class="form-group">
        <label>Role</label>
        <select [(ngModel)]="player.type_of_player" name="type">
          <option value="">Select Role</option>
          <!-- Batsman -->
                <option value="Right-hand Batsman">Right-hand Batsman</option>
                <option value="Left-hand Batsman">Left-hand Batsman</option>

                <!-- All-Rounder (Batting) -->
                <option value="Right-hand Batting All-Rounder">Right-hand Batting All-Rounder</option>
                <option value="Left-hand Batting All-Rounder">Left-hand Batting All-Rounder</option>

                <!-- Bowler -->
                <option value="Right-arm Bowler">Right-arm Bowler</option>
                <option value="Left-arm Bowler">Left-arm Bowler</option>

                <!-- All-Rounder (Bowling) -->
                <option value="Right-arm Bowling All-Rounder">Right-arm Bowling All-Rounder</option>
                <option value="Left-arm Bowling All-Rounder">Left-arm Bowling All-Rounder</option>

                <!-- Wicket Keeper -->
                <option value="Right-hand WK Batsman">Right-hand WK Batsman</option>
                <option value="Left-hand WK Batsman">Left-hand WK Batsman</option>
        </select>
      </div>
    </div>

    <div class="actions">
      <button type="submit" [disabled]="f.invalid">Update</button>
      <button type="button" class="cancel" (click)="close()">Cancel</button>
    </div>

  </form>
</div>
